
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/cup.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -40px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: inherit;
}

.table, th {
    text-align: center;
}

.tableDiv {
    margin-left: 25%;
    width: 50%;
}
.objectDeleted
{
    opacity: 0.6;
}
.productName
{
    border: 0.5px solid brown;
    border-radius: 4px;
    margin: 2px;
    padding: 2px;
}
